@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/*------------------ Side Menu ------------------*/
[x-cloak] {
    display: none;
}

.link-menu {
    @apply w-full px-4 py-2 mt-2
    text-xl font-semibold text-left
    bg-transparent
    rounded-lg
    md:block hover:text-gray-900
    focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200
}

/*------------------ Form ------------------*/

.label-class {
    @apply text-base leading-7;
}


.form-input {
    @apply w-full
    px-4 py-2 mt-2 mr-4
    text-base text-black
    transition duration-500
    ease-in-out transform
    rounded-lg
    bg-gray-100
    border focus:border-opacity-25 focus:border-4 focus:border-blue-500 focus:bg-white focus:outline-none;
}

.error {
    @apply text-xs text-red-500;
}

/*------------------ Buttons ------------------*/
.btn {
    @apply text-base text-white text-sm
    duration-500
    ease-in-out
    transform
    rounded-md
}

.success {
    @apply
    bg-cyan-500 border-cyan-500
    to-blue-500 hover:bg-cyan-800
}

.info {
    @apply
    mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold
    uppercase text-white shadow-md shadow-blue-500/20 transition-all
    hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85]
    focus:shadow-none active:opacity-[0.85] active:shadow-none
    disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none

}

.warning {
    @apply bg-yellow-500 border-yellow-500
    hover:bg-yellow-800
}

.danger{
    @apply mr-4 rounded-lg bg-red-500 py-2 px-4 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none
}

.btn-sm {
    @apply w-14 p-2
}

.btn-l {
    @apply w-24 p-2
}

.select {
    @apply block
    w-full
    bg-gray-100
    px-4 py-2 mt-2
    text-gray-700 bg-white
    border border-gray-300
    rounded-md dark:bg-gray-800
    focus:border-blue-500 focus:outline-none focus:ring
}
